---
---

@import "{{ site.theme }}";

.site-title {
    background-image: url("https://s3-eu-central-1.amazonaws.com/coderdays/2016/09/coderdays_icon-1472907155353.svg");
    background-size: auto 30px;
    background-position: 0px 14px;
    background-repeat: no-repeat;
    padding-left: 32px;
}

.main-image {
    width: 40%;
    float: right;
    margin: 0 0 20px 20px;
    min-width: 120px;
    border: 1px solid #bbb;
}

.post-list > li {
    margin-bottom: 50px;
    clear: both;

    .main-image {
        width: 10%;
        min-width: 75px;
        float: left;
        margin: 0 20px 0 0;
    }
}


@media screen and (max-width: 480px) {
    .main-image, .post-list > li .main-image {
        display: block;
        width: 75%;
        float: none;
        margin: 10px auto;
    }
}
